
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title> Responsive Admin Dashboard | Redesign</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/bootstrap.css")
    @{
        var pageName = ViewContext.RouteData.Values["action"].ToString();
    }
</head>
<body>
    @if (string.IsNullOrEmpty((string)Session["logged_in"]))
    {
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    }
    else
    {
    <div class="containerx">
        <div class="navigation">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Market")">
                        <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
                        <span class="title">EnergyTrade</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Market")">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MyItems", "Market")">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">My product</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Add", "Market")">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Add new product</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Message")">
                        <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></span>
                        <span class="title">Messsage</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Settings", "Home")">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Setting</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "Market")">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Sing Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--main -->

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <!-- search -->
                <div class="search">
                    <label>
                        <input type="text" placeholder="Search Here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>
                <!-- userImg -->
                <div class="user">
                    <img src="user.jpg">
                </div>
            </div>

            <!-- cards -->
            <div class="details">
                <!-- order details list -->
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>@pageName</h2>
                    </div>
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                        </footer>
                    </div>

                    @RenderSection("scripts", required: false)
                </div>

                <!-- New Customers -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>
                    <table>
                        <tr>
                            <td width="60px"><div class="imgBx"><img src="img1.jpg"></div></td>
                            <td><h4>David<br><span>Italy</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img2.jpg"></div></td>
                            <td><h4>Muhammad<br><span>India</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img3.jpg"></div></td>
                            <td><h4>Amelia<br><span>France</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img4.jpg"></div></td>
                            <td><h4>Olivia<br><span>USA</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img5.jpg"></div></td>
                            <td><h4>Amit<br><span>Japan</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img6.jpg"></div></td>
                            <td><h4>Ashraf<br><span>India</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img7.jpg"></div></td>
                            <td><h4>Diana<br><span>Malaysia</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img8.jpg"></div></td>
                            <td><h4>Amit<br><span>India</span></h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        // MenuToggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function () {
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        // add hovered class in selected list item
        let list = document.querySelectorAll('.navigation li');
        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
            item.addEventListener('mouseover', activeLink));
    </script>

}
    </body>
</html>



