<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/owncss.css")
    @Styles.Render("~/Content/test.css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var pageName = ViewContext.RouteData.Values["controller"].ToString();
    }

    <script src="@Styles.Render("~/Content/owncss.css")"></script>
</head>
<body>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("EnergyTrade", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (!string.IsNullOrEmpty((string)Session["logged_in"]))
                        {
                            <li>@Html.ActionLink("Add", "Add", "Market")</li>
                            <li>@Html.ActionLink("MyItems", "MyItems", "Market")</li>
                            <li>@Html.ActionLink("Profile", "Profile", "Market")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Market")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:burlywood;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/Index">EnegyTrade</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (!string.IsNullOrEmpty((string)Session["logged_in"]))
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                My store
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Market/Myitems">Myitems</a></li>
                                <li><a class="dropdown-item" href="/Market/UserProfile?id=@Session["logged_Id"]">Profile</a></li>
                                <li><a class="dropdown-item" href="/Market/Add">Add Item</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/Market/Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            } else
            {
                <form class="d-flex">
                    <div class="row">
                        <div class="col d-md-flex">
                            <a class="btn btn-info btn-primary btn-lg btn-block" href="/Home/Register">Register</a>
                            <a> </a>
                            <a class="btn btn-dark btn-primary btn-lg btn-block" href="/Home/login">Login</a>
                        </div>
                    </div>
                </form>


            }

        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/ownscripts.js") 
    @Scripts.Render("~/Scripts/bootstrap.min.js")


    @RenderSection("scripts", required: false)
</body>
</html>
